body {
  margin: 64px auto;
  text-align: center;
  
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #828282;
}

#main {
  width: 540px;
  margin: 0 auto 64px;
}

#main img {
  margin-bottom: 32px;
}

h1 {
  font-family: "Dosis";
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;

  margin-bottom: 16px;
}

h1 span {
  font-weight: bold;
  color: #EE24FF;
}

#p1 {
  margin-bottom: 32px;
}

span, a {
  color: #3F3D56;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a + a {
  margin-left: 42px;
}


#footer {
  width: 100%;
  margin: auto;
  text-align: center;
}

#line {
  height: 0;
  width: 391px;
  border: 1px solid #ECEFF2;
  margin: 0 auto 16px;
}

#links {
  margin-bottom: 41px;
}